* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Montserrat;
}

.wrapper {
  background-color: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.my-foto {
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-me-conteiner {
  padding: 80px;
}

.contacts {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #8f99a7;
  text-decoration: none;
  cursor: pointer;
}

.contacts-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #8f99a7;
}

.contact-type {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 10px;
}

.tech-skils-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.tech-skills-conteiner {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
}

.tech-skills-items {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #ff6b08;
}

.tech-skills-text {
  color: #8f99a7;
}

.soft-skills-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.soft-skills-conteiner {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.soft-skills-items {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #ff6b08;
}

.soft-skills-text {
  color: #8f99a7;
}

.lang-skills-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.lang-skills-conteiner {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.lang-skills-items {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #ff6b08;
}

.lang-skills-text {
  color: #8f99a7;
}

.professional {
  margin-bottom: 23px;
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
  color: #000000;
}

.discrition {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}

.info-conteiner {
  margin-bottom: 65px;
}

.about-me-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.prodjects-link {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.project-description {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.prodjects-item {
  font-weight: 700;
  margin-left: 17px;
}

.prodjects-conteiner {
  margin-bottom: 55px;
}

.profesional-container {
  margin-bottom: 55px;
}

.profesion-title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.profedional-compani {
  color: #ff6b08;
}

.time-work {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.prof-divainer {
  color: black;
}

.prof-dutes {
  margin-top: 14px;
  margin-bottom: 30px;
  margin-left: 15px;
}

.prof-dutes-item {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.prof-dutes-text {
  color: #000000;
}

.education-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.education-stady {
  margin-bottom: 10px;
}

.education1 {
  color: #ff6b08;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.specialty {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 14px;
  margin-bottom: 14px;
}
