.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  overflow-y: scroll;
  max-width: 100%;
  background-color: #1e2939;
}

.menu-conteiner {
  padding: 50px 15px 50px 15px;
  max-width: 480px;
}

.is-hidden {
  display: none;
  visibility: hidden;
  pointer-events: none;
}
.contacts {
  margin-left: 40px;
  margin-right: 40px;

  &__title {
    margin: 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
  }

  &__list {
    list-style: none;
    padding: 0px;
  }

  &__link {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #8f99a7;
    text-decoration: none;
    cursor: pointer;
  }

  &__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #8f99a7;
  }
}

.tech-skills {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin: 0px;
  }

  &__list {
    padding: 0px;
  }

  &__items {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #ff6b08;
  }

  &__text {
    color: #8f99a7;
  }
}

.soft-skills {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin: 0px;
  }

  &__list {
    padding: 0px;
  }

  &__items {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #ff6b08;
  }

  &__text {
    color: #8f99a7;
  }
}

.lang-skills {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 40px;

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin: 0px;
  }

  &__list {
    padding: 0px;
  }

  &__items {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #ff6b08;
  }

  &__text {
    color: #8f99a7;
    margin: 0px;
  }
}
